body {
	font-size: 11px;
	font-family: Arial;
	color: #333;
	background-color: #CCC;
}
a {
	color: #333;
}
a:hover {
	text-decoration: none;
}
div#maillist {
	width: 300px;
	margin: auto;
	padding: 20px;
	background-color: #FFF;
}
div#maillist h1 {
	margin: 0;
}